img.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto
}

slides > slide {
    font-size: 38px;
}

h2 {
    font-size: 65px;
}

.title-slide hgroup h1 {
  font-size: 75px;
  line-height: 1.0;
  color: #515151;
  padding-right: 50px;
  padding-left: -20px;
}
